*{
     font-family: 'Comfortaa', cursive;
}

body {
	background: url('../Land-11.jpg');
	margin: 0;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100vh;
	padding:0;
	margin:0;
}
footer,
header,
main,
{
	display: block;
}

main {
	padding:2.3rem;
	margin: auto;
	margin-top: 3rem;
	width: 60%;
	
}

.start main {
	padding-bottom:3rem;
	text-align: center;
	height: 45vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

header {
	text-align: center;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	border:3px #ececec;
	width:100%;
	box-shadow: 10px 10px rgba(0, 0, 0,0.5);
	background: rgba(255,255,255,.8);
}

footer{
	background: rgba(255,255,255,.6);
	text-align: center;
    margin: 0;
    padding: 0;
	padding-top:0.10em;
    display: flex;
	width: 100%;
	flex-direction: row;
    justify-content: space-between;
	border-top-left-radius: 15%;
	border-top-right-radius: 15%;
	}

a {
	background: transparent;
}

h1 {
	font-size: 2rem;
	margin: 0.67em 0;
}

button, input{
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
	text-transform: none;
	color: inherit;
	font: inherit;
	margin: auto;
	padding:1rem 3rem;
	border-radius:100%;
	display:block;
}
footer p{
	padding:5px;
	margin:0;
}
.forbutton{
	padding:40px 20px;
	font-size:20px;
}
form{
	border:3px dotted #ececec;
	padding:2.3rem;
	border-radius: 15%;
	margin:auto;
	width:50%;
	box-shadow: 10px 10px rgba(0, 0, 0,0.5);
	background: rgba(255,255,255,.8);
}
 form p.formelement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edc{
	display: flex;
    flex-direction: column;
	justify-content:space-between;
}

.foredc{
		width:90%;
}

@media all and (max-width: 1024px){
	form{
		width:75%;
	}
	form p.formelement{
		flex-direction:column;
	}
	
	label, input{
		display:block;
	}
}

@media all and (max-width: 656px) {
	button {
		padding: 1em;
	}
	
	form {
		width: 70%;
		margin: 0;
	}
	
	main {
		margin: 0;
		margin-top: 3rem;
		width: unset;
	}
}